extends layout

block content
  h1= title
  p Welcome to #{title} 


  - let a = ["picture 1.jpg", "picture 2.jpg", "picture 3.jpg", "picture 4.jpg", "picture 5.jpg" ]
  - for (i=0;i<3;i++)
      - let index = Math.floor(Math.random()*5);
      - let z = a[index];
       img(src=`../images/${z}`, alt=`${z}`, height="300",width="300")